* {
    box-sizing: border-box;
}
.center {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1180px;
    margin: 0 auto;
}
.item-1 {
    background: aliceblue;
}
.item-2 {
    background: aliceblue;
}
.item-3 {
    background: aliceblue;
}
.center .item-1,
.center .item-2,
.center .item-3 {
    padding: 50px 40px;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
}

.center .item-1 i,
.center .item-2 i,
.center .item-3 i {
    font-size: 50px;
}
.center .item-1 i,
.center .item-2 i,
.center .item-3 i,
.center .item-1 p.subtitle-flex,
.center .item-2 p.subtitle-flex,
.center .item-3 p.subtitle-flex {
    color: #707070;
}
.center .item-1 .middle-text,
.center .item-2 .middle-text,
.center .item-3 .middle-text {
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
}
.center .item-1 .footer-text,
.center .item-2 .footer-text,
.center .item-3 .footer-text {
    color: #949494;
}
.center .item-1,
.center .item-2 {
    position: relative;
}
.base-wrap {
    position: absolute;
    right: 0;
    margin-right: -10.5%;
    top: 47%;
}
.base {
    background: white;
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    width: 60px;
    transform: rotate(90deg);
    border: 1px solid #444;
    border-bottom: 1px solid transparent;
    z-index: 1;
}
.base:before {
    border-bottom: 34px solid #444;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    top: -35px;
    width: 0;
}
.base:after {
    border-bottom: 34px solid #fff;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    content: "";
    height: 0.5px;
    left: 0px;
    position: absolute;
    top: -34px;
    width: 0;
}
@media (max-width: 768px) {
    .center {
        display: block;
        width: 300px;
    }
    .center .base-wrap {
        top: auto;
        bottom: -24px;
        left: -18%;
    }
    .center .base-wrap .base {
        transform: rotate(180deg);
    }
}