.cont {
  width: 29%;
  margin-left: auto;
  margin-right: auto;
}
.car {
  border-radius: 20px;
  height: 522px;
  background-image: linear-gradient(to right, rgb(29 154 91), #00f2ff);
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 8px #414141;
  z-index: 0;
  box-sizing: border-box;
  margin-top: 19px;
}
.circle {
  position: absolute;
  bottom: -230px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  clip-path: circle(50%);
  height: 700px;
  width: 700px;
  z-index: -1;
  overflow: hidden;
}
.myHed {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  background-image: linear-gradient(to right, rgb(29 154 91), #00f2ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.far {
  font-size: 40px;
}

.fas {
  position: relative;
  display: block;
  left: -87px;
  top: 30px;
  color: rgb(255, 255, 255);
}

.button {
  width: 250px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgb(29 154 91), #00f2ff);
  color: #fff;
  font-weight: 700;
}

.myInput {
  width: 220px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgb(29 154 91), #00f2ff);
  color: #fff;
  border: none;
  display: block;
  margin-bottom: 20px;
}

.myInput::placeholder {
  color: #fff;
  opacity: 0.6;
}
.myInput:focus {
  border: none;
  outline: none;
}
.check_1 {
  font-weight: 500;
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin: 15px auto;
  cursor: pointer;
}
.text-decoration {
  text-decoration: none;
}
.hello {
  color: rgb(241, 41, 6);
}
